# STEP 6: Repeat the computation from the facts & dimension table

Note: You will not have to write any code in this notebook. It's purely to illustrate the performance difference between Star and 3NF schemas.

Start by running the code in the cell below to connect to the database.

In [1]:
!PGPASSWORD=student createdb -h 127.0.0.1 -U student pagila_star
!PGPASSWORD=student psql -q -h 127.0.0.1 -U student -d pagila_star -f Data/pagila-star.sql

 set_config
------------

(1 row)

 setval
--------
    200
(1 row)

 setval
--------
    605
(1 row)

 setval
--------
     16
(1 row)

 setval
--------
    600
(1 row)

 setval
--------
    109
(1 row)

 setval
--------
    599
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
  16049
(1 row)

 setval
--------
   1000
(1 row)

 setval
--------
   4581
(1 row)

 setval
--------
      6
(1 row)

 setval
--------
  32098
(1 row)

 setval
--------
  16049
(1 row)

 setval
--------
      2
(1 row)

 setval
--------
      2
(1 row)

In [2]:
%load_ext sql

DB_ENDPOINT = "127.0.0.1"
DB = 'pagila_star'
DB_USER = 'student'
DB_PASSWORD = 'student'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)
%sql $conn_string

postgresql://student:student@127.0.0.1:5432/pagila_star

'Connected: student@pagila_star'

## 6.1 Facts Table has all the needed dimensions, no need for deep joins

In [3]:
%%time
%%sql
SELECT movie_key, date_key, customer_key, sales_amount
FROM factSales 
limit 5;

 * postgresql://student:***@127.0.0.1:5432/pagila_star
5 rows affected.
CPU times: user 2.33 ms, sys: 382 Âµs, total: 2.71 ms
Wall time: 6.33 ms

[(870, 20170124, 269, Decimal('1.99')),
 (651, 20170125, 269, Decimal('0.99')),
 (818, 20170128, 269, Decimal('6.99')),
 (249, 20170129, 269, Decimal('0.99')),
 (159, 20170129, 269, Decimal('4.99'))]

## 6.2 Join fact table with dimensions to replace keys with attributes

As you run each cell, pay attention to the time that is printed. Which schema do you think will run faster?

##### Star Schema

In [7]:
%%time
%%sql
SELECT dimMovie.title, dimDate.month, dimCustomer.city, sum(sales_amount) as revenue
FROM factSales 
JOIN dimMovie    on (dimMovie.movie_key      = factSales.movie_key)
JOIN dimDate     on (dimDate.date_key         = factSales.date_key)
JOIN dimCustomer on (dimCustomer.customer_key = factSales.customer_key)
group by (dimMovie.title, dimDate.month, dimCustomer.city)
order by dimMovie.title, dimDate.month, dimCustomer.city, revenue desc
LIMIT 50;

 * postgresql://student:***@127.0.0.1:5432/pagila_star
50 rows affected.
CPU times: user 5.53 ms, sys: 0 ns, total: 5.53 ms
Wall time: 46.7 ms

[('ACADEMY DINOSAUR', 1, 'Celaya', Decimal('0.99')),
 ('ACADEMY DINOSAUR', 1, 'Cianjur', Decimal('1.99')),
 ('ACADEMY DINOSAUR', 2, 'San Lorenzo', Decimal('0.99')),
 ('ACADEMY DINOSAUR', 2, 'Sullana', Decimal('1.99')),
 ('ACADEMY DINOSAUR', 2, 'Udaipur', Decimal('0.99')),
 ('ACADEMY DINOSAUR', 3, 'Almirante Brown', Decimal('1.99')),
 ('ACADEMY DINOSAUR', 3, 'Goinia', Decimal('0.99')),
 ('ACADEMY DINOSAUR', 3, 'Kaliningrad', Decimal('0.99')),
 ('ACADEMY DINOSAUR', 3, 'Kurashiki', Decimal('0.99')),
 ('ACADEMY DINOSAUR', 3, 'Livorno', Decimal('0.99')),
 ('ACADEMY DINOSAUR', 3, 'Nukualofa', Decimal('0.99')),
 ('ACADEMY DINOSAUR', 3, 'Rajkot', Decimal('3.99')),
 ('ACADEMY DINOSAUR', 3, 'Sivas', Decimal('3.99')),
 ('ACADEMY DINOSAUR', 3, 'Tabriz', Decimal('3.99')),
 ('ACADEMY DINOSAUR', 4, 'Charlotte Amalie', Decimal('0.99')),
 ('ACADEMY DINOSAUR', 4, 'Hamilton', Decimal('0.99')),
 ('ACADEMY DINOSAUR', 4, 'Jos Azueta', Decimal('1.99')),
 ('ACADEMY DINOSAUR', 4, 'Lipetsk', Decimal('0.99')),
 ('ACADEMY DINOSAUR', 4, 'London', Decimal('0.99')),
 ('ACADEMY DINOSAUR', 4, 'Pjatigorsk', Decimal('1.99')),
 ('ACADEMY DINOSAUR', 4, 'Sucre', Decimal('0.99')),
 ('ACADEMY DINOSAUR', 4, 'Tel Aviv-Jaffa', Decimal('0.99')),
 ('ACADEMY DINOSAUR', 4, 'Vila Velha', Decimal('0.99')),
 ('ACE GOLDFINGER', 3, 'Binzhou', Decimal('8.99')),
 ('ACE GOLDFINGER', 3, 'Kumbakonam', Decimal('4.99')),
 ('ACE GOLDFINGER', 3, 'Pereira', Decimal('8.99')),
 ('ACE GOLDFINGER', 3, 'Touliu', Decimal('9.99')),
 ('ACE GOLDFINGER', 4, 'Simferopol', Decimal('9.99')),
 ('ACE GOLDFINGER', 4, 'Soshanguve', Decimal('4.99')),
 ('ACE GOLDFINGER', 5, 'Balikesir', Decimal('4.99')),
 ('ADAPTATION HOLES', 1, 'Shikarpur', Decimal('2.99')),
 ('ADAPTATION HOLES', 2, 'Jelets', Decimal('2.99')),
 ('ADAPTATION HOLES', 3, 'Cayenne', Decimal('2.99')),
 ('ADAPTATION HOLES', 3, 'Coacalco de Berriozbal', Decimal('2.99')),
 ('ADAPTATION HOLES', 3, 'Salinas', Decimal('2.99')),
 ('ADAPTATION HOLES', 3, 'Santa Brbara dOeste', Decimal('2.99')),
 ('ADAPTATION HOLES', 3, 'Sasebo', Decimal('4.99')),
 ('ADAPTATION HOLES', 3, 'al-Qatif', Decimal('2.99')),
 ('ADAPTATION HOLES', 4, 'Jodhpur', Decimal('2.99')),
 ('ADAPTATION HOLES', 4, 'Miraj', Decimal('2.99')),
 ('ADAPTATION HOLES', 4, 'Ogbomosho', Decimal('2.99')),
 ('ADAPTATION HOLES', 4, 'Urawa', Decimal('2.99')),
 ('AFFAIR PREJUDICE', 1, 'Hidalgo', Decimal('3.99')),
 ('AFFAIR PREJUDICE', 1, 'Tuguegarao', Decimal('3.99')),
 ('AFFAIR PREJUDICE', 2, 'Changzhou', Decimal('2.99')),
 ('AFFAIR PREJUDICE', 2, 'Crdoba', Decimal('2.99')),
 ('AFFAIR PREJUDICE', 3, 'Aparecida de Goinia', Decimal('2.99')),
 ('AFFAIR PREJUDICE', 3, 'Atinsk', Decimal('2.99')),
 ('AFFAIR PREJUDICE', 3, 'Avellaneda', Decimal('6.99')),
 ('AFFAIR PREJUDICE', 3, 'Caracas', Decimal('6.99'))]

##### 3NF Schema

In [8]:
%%time
%%sql
SELECT f.title, EXTRACT(month FROM p.payment_date) as month, ci.city, sum(p.amount) as revenue
FROM payment p
JOIN rental r    ON ( p.rental_id = r.rental_id )
JOIN inventory i ON ( r.inventory_id = i.inventory_id )
JOIN film f ON ( i.film_id = f.film_id)
JOIN customer c  ON ( p.customer_id = c.customer_id )
JOIN address a ON ( c.address_id = a.address_id )
JOIN city ci ON ( a.city_id = ci.city_id )
group by (f.title, month, ci.city)
order by f.title, month, ci.city, revenue desc
LIMIT 50;

 * postgresql://student:***@127.0.0.1:5432/pagila_star
50 rows affected.
CPU times: user 6.85 ms, sys: 351 Âµs, total: 7.2 ms
Wall time: 114 ms

[('ACADEMY DINOSAUR', 1.0, 'Celaya', Decimal('1.98')),
 ('ACADEMY DINOSAUR', 1.0, 'Cianjur', Decimal('3.98')),
 ('ACADEMY DINOSAUR', 2.0, 'San Lorenzo', Decimal('1.98')),
 ('ACADEMY DINOSAUR', 2.0, 'Sullana', Decimal('3.98')),
 ('ACADEMY DINOSAUR', 2.0, 'Udaipur', Decimal('1.98')),
 ('ACADEMY DINOSAUR', 3.0, 'Almirante Brown', Decimal('3.98')),
 ('ACADEMY DINOSAUR', 3.0, 'Goinia', Decimal('1.98')),
 ('ACADEMY DINOSAUR', 3.0, 'Kaliningrad', Decimal('1.98')),
 ('ACADEMY DINOSAUR', 3.0, 'Kurashiki', Decimal('1.98')),
 ('ACADEMY DINOSAUR', 3.0, 'Livorno', Decimal('1.98')),
 ('ACADEMY DINOSAUR', 3.0, 'Nukualofa', Decimal('1.98')),
 ('ACADEMY DINOSAUR', 3.0, 'Rajkot', Decimal('7.98')),
 ('ACADEMY DINOSAUR', 3.0, 'Sivas', Decimal('7.98')),
 ('ACADEMY DINOSAUR', 3.0, 'Tabriz', Decimal('7.98')),
 ('ACADEMY DINOSAUR', 4.0, 'Charlotte Amalie', Decimal('1.98')),
 ('ACADEMY DINOSAUR', 4.0, 'Hamilton', Decimal('1.98')),
 ('ACADEMY DINOSAUR', 4.0, 'Jos Azueta', Decimal('3.98')),
 ('ACADEMY DINOSAUR', 4.0, 'Lipetsk', Decimal('1.98')),
 ('ACADEMY DINOSAUR', 4.0, 'London', Decimal('1.98')),
 ('ACADEMY DINOSAUR', 4.0, 'Pjatigorsk', Decimal('3.98')),
 ('ACADEMY DINOSAUR', 4.0, 'Sucre', Decimal('1.98')),
 ('ACADEMY DINOSAUR', 4.0, 'Tel Aviv-Jaffa', Decimal('1.98')),
 ('ACADEMY DINOSAUR', 4.0, 'Vila Velha', Decimal('1.98')),
 ('ACE GOLDFINGER', 3.0, 'Binzhou', Decimal('17.98')),
 ('ACE GOLDFINGER', 3.0, 'Kumbakonam', Decimal('9.98')),
 ('ACE GOLDFINGER', 3.0, 'Pereira', Decimal('17.98')),
 ('ACE GOLDFINGER', 3.0, 'Touliu', Decimal('19.98')),
 ('ACE GOLDFINGER', 4.0, 'Simferopol', Decimal('19.98')),
 ('ACE GOLDFINGER', 4.0, 'Soshanguve', Decimal('9.98')),
 ('ACE GOLDFINGER', 5.0, 'Balikesir', Decimal('9.98')),
 ('ADAPTATION HOLES', 1.0, 'Shikarpur', Decimal('5.98')),
 ('ADAPTATION HOLES', 2.0, 'Jelets', Decimal('5.98')),
 ('ADAPTATION HOLES', 3.0, 'Cayenne', Decimal('5.98')),
 ('ADAPTATION HOLES', 3.0, 'Coacalco de Berriozbal', Decimal('5.98')),
 ('ADAPTATION HOLES', 3.0, 'Salinas', Decimal('5.98')),
 ('ADAPTATION HOLES', 3.0, 'Santa Brbara dOeste', Decimal('5.98')),
 ('ADAPTATION HOLES', 3.0, 'Sasebo', Decimal('9.98')),
 ('ADAPTATION HOLES', 3.0, 'al-Qatif', Decimal('5.98')),
 ('ADAPTATION HOLES', 4.0, 'Jodhpur', Decimal('5.98')),
 ('ADAPTATION HOLES', 4.0, 'Miraj', Decimal('5.98')),
 ('ADAPTATION HOLES', 4.0, 'Ogbomosho', Decimal('5.98')),
 ('ADAPTATION HOLES', 4.0, 'Urawa', Decimal('5.98')),
 ('AFFAIR PREJUDICE', 1.0, 'Hidalgo', Decimal('7.98')),
 ('AFFAIR PREJUDICE', 1.0, 'Tuguegarao', Decimal('7.98')),
 ('AFFAIR PREJUDICE', 2.0, 'Changzhou', Decimal('5.98')),
 ('AFFAIR PREJUDICE', 2.0, 'Crdoba', Decimal('5.98')),
 ('AFFAIR PREJUDICE', 3.0, 'Aparecida de Goinia', Decimal('5.98')),
 ('AFFAIR PREJUDICE', 3.0, 'Atinsk', Decimal('5.98')),
 ('AFFAIR PREJUDICE', 3.0, 'Avellaneda', Decimal('13.98')),
 ('AFFAIR PREJUDICE', 3.0, 'Caracas', Decimal('13.98'))]

# Conclusion

We were able to show that:
* The star schema is easier to understand and write queries against.
* Queries with a star schema are more performant.